@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LIGHT MODE (hsl) */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215 16% 46%;

  --border: 214 32% 91%;

  --primary: 142 72% 35%;         /* Verde Discor */
  --primary-foreground: 144 100% 98%;

  --secondary: 142 70% 45%;
  --secondary-foreground: 144 100% 98%;
}

/* DARK MODE: override de las mismas vars */
.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --muted: 217 33% 17%;
  --muted-foreground: 215 20% 65%;

  --border: 217 33% 17%;

  --primary: 142 71% 45%;
  --primary-foreground: 144 100% 98%;

  --secondary: 142 65% 40%;
  --secondary-foreground: 144 100% 98%;
}

html {
  height: 100%;
  scroll-behavior: smooth; /* 👈 magia del scroll suave */
}

body {
  height: 100%;
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @apply max-w-7xl mx-auto px-4 md:px-6;
}